# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules
/.pnp
.pnp.js
/backend/.env
backend/.env
frontend/.env
**/.env


# testing
/coverage

# production
/build
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/models/.env


backend/.env
.vercel
client_secret_290160975088-l6rgd1ehgc8b14v161p5gof0v1fu7e9n.apps.googleusercontent.com.json
