.about {
    display: flex;
    margin: 0;
}

.about img {
    margin: 0;
    min-width: 16vw;
}

.about-container .about-block {
    margin: 1.75rem 6rem;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.about-container .about-block h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.about-container .about-block h3 {
    font-size: 1.1rem;
}

.about-container .about-block p {
    font-size: 1.1rem;
    line-height: 1.6;

}

.about-container .about-block ul {
    margin: 10px 0;
    padding-left: 20px;
}

.about-container .about-block ul li {
    margin-bottom: 5px;
    font-size: 1.1rem;
}