.header {
    /* background-color: transparent; */
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 3rem 1rem 3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

.header a {
    color: #61dafb;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
    align-items: center;
}

.nav-list ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: flex;
}

.nav-list li {
    display: inline;
}