.container {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    z-index: 60;
}

.welcome-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: auto;
}

.link-btn {
    margin: 10px auto;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.link-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.btn {
    margin: 10px auto;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.card .btn {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
}

.card .btn-secondary {
  background-color: #6c757d;
}