.profile-container {
    min-height: 80vh;
}
.container-bg {
    background-color: #f8f4e9;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.profile {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    
}
.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 2rem;
}