.quiz-container {
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

.quiz {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f8f4e9;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    
}

.quiz h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
    font-weight: 600;
}

.quiz .options {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.quiz .option-button {
    width: 100%;
    padding: 1.25rem;
    border: 2px solid #e5e7eb;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f8f4e9;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.quiz .option-button:hover {
    background-color: #f9fafb;
    border-color: #88a096;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #88a09680;
}


.quiz .option-button:active {
    transform: translateY(0);
}

.back-button {
    padding: 10px 20px;
    margin-top: 1.5rem;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #f9fafb;
    border-color: #88a096;
    color: #333;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #88a09680;
}