.quiz-container {
    min-height: 80vh;
    min-width: 50vw;
    align-items: center;
    justify-content: center;
}

.quiz {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

.quiz h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
}

.quiz .options {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.quiz .option-button {
    width: 100%;
    padding: 1.35rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #B38A6D;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #000;
}

.quiz .option-button:hover {
    background-color: #9f7659;
    color: #fff;
    transform: translateY(-2px);
}


.quiz .option-button:active {
    transform: translateY(0);
}

.back-button {
    padding: 10px 20px;
    background-color: #B38A6D;
    margin-top: 1.5rem;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.back-button:hover {
    background-color: #9f7659;
    transform: translateY(-2px);
}

.quiz-container .question-text {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1a365d;
}